.neviditelny {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
th {
    text-shadow: 0 0 10px white
}

.hlavni {
    max-width: 900px;
}

.vybrano {
    color: #0d6efd;
}

.info {
    background-color: white;
    border: 1px solid #D5BFF7;
}

.hledVysledek:hover {
    background-color: #6392EF;
}

#stran {
    width: 50%;
}

.hledVysledek {
    background-color: #f8f9fa;
    width: 400px;
}

.hlavni {
    background-image: url(/img/bookshelf_index.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}

a {
    text-decoration: none;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

input[type="range"] {
    width: 50%;
    margin-right: 4ch;
}

.star {
    color: gold;
}

.imgwrap {
    min-width: 140px;
    display: flex;
    justify-content: center;
}

.popDetail {
    position: fixed;
    max-width: 720px;
    margin-right: 5%;
    border-radius: 5px;
    overflow: auto;
    z-index: 10;
    max-height: calc(100vh - 1px);
}

.popDetail h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popDetail .close {
    position: absolute;
    top: 5px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popDetail .close:hover {
    color: red;
}